## 실습 문제 1

1. N명 중 두 명을 뽑아 짝을 짓는다고 할 때, 나올 수 있는 모든 조합을 출력하는 프로그램을 작성 하시오.

    예를 들어 입력이 리스트["Tom", "Jerry", "Mike"] 라면, 다음과 같은 세 가지 경우를 출력합니다.

    Tom - Jerry

    Tom - Mike

    Jerry - Mike

In [25]:
def couple(a):
    for i in range(0,len(a)-1):
        for j in range(i+1,len(a)):
            print(a[i],a[j])            

list_a = ["Tom", "Jerry", "Mike","Saka"]
couple(list_a)

Tom Jerry
Tom Mike
Tom Saka
Jerry Mike
Jerry Saka
Mike Saka

## 실습 문제 2

2. 100 보다 작은 임의의 양의 정수 두 개로 덧셈 문제를 만들어서 맞히는 프로그램을 작성 하시오.

In [11]:
import random

x = random.randint(1,100)
y = random.randint(1,100)

result = x+y
a = input("{0} + {1} 의 값을 맞추시오 : " .format(x,y))
user_result = int(a)
if result == user_result:
  print("정답입니다.")
else:
  print("오답입니다.")

75 + 35 의 값을 맞추시오 : 110
정답입니다.

## 실습 문제 3

3. 1부터 n까지의 합을 구하는 함수를 작성하고, 결괏값을 출력 하시오.

In [23]:
def sum_one_to_n(n):
  total = 0
  for i in range(1,n+1):
    total += i
  return total

print(sum_one_to_n(100))

5050

## 실습 문제 4

4. 1부터 n까지의 곱을 구하는 함수

    factorial 함수는 한 개의 인자 n을 전달받아 1부터 n까지의 곱을 계산한 후 계산값을 반환하는 함수 입니다. 3번의 경우처럼 함수를 작성하고, 결괏값을 출력 하시오.

In [22]:
def factorial(n):
  total = 1
  for i in range(1,n+1):
    total *= i
  return total

print(factorial(5))

120

## 실습 문제 5

5. 다음의 ndarray 객체를 생성하고 결괏값을 출력하시오.

    - 0에서 9까지의 정수 값을 원소로 갖는 ndarray 객체 a를 작성 제시 하시오.

    - 0에서 9까지의 정수 값 중 짝수만을 갖는 ndarray 객체 b를 작성 제시 하시오.

    - 객체 b의 shape, ndim, dtype, size, itemsize를 출력하시오.

In [24]:
import numpy as np

In [35]:
a = np.arange(1,10)
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
b = np.arange(2,10,2)
b

array([2, 4, 6, 8])

In [40]:
print("b의 shape: ", b.shape)
print("b의 ndim: ", b.ndim)
print("b의 dtype: ", b.dtype)
print("b의 size: ", b.size)
print("b의 itemsize: ", b.itemsize)

b의 shape:  (4,)
b의 ndim:  1
b의 dtype:  int64
b의 size:  4
b의 itemsize:  8

## 실습 문제 6

6. numpy.random.randint() 함수를 사용하여 0에서 99까지의 난수 정수 10개를 생성하고, 10개의 값을 ndarray 객체에 담아 최댓값, 최소값, 평균값을 출력하시오.

In [46]:
a = np.random.randint(0,99,size=10)
print("난수 정수 a들의 최댓값 : " ,a.max())
print("난수 정수 a들의 최솟값 : " ,a.min())
print("난수 정수 a들의 평균값 : " ,a.mean())

난수 정수 a들의 최댓값 :  97
난수 정수 a들의 최솟값 :  0
난수 정수 a들의 평균값 :  63.1

## 실습 문제 7

7. 두 수를 입력받아 평균을 구하는 프로그램을 작성하시오. 단, 평균을 구할 수 없는 경우 "입력한 수를 확인하시오" 메시지를 출력하는 예외처리 루틴을 추가 하시오.

In [89]:
a,b = input("두 수를 입력 하시오: ").split()
try:
  result = (float(a) + float(b))/2
  print(result)
except Exception as e:
  print("입력한 수를 확인하시오")

두 수를 입력 하시오: a

ValueError: ignored

except 구문중 어떤걸 써야할지 몰라서 Exception을 사용했는데 입력이 두개가 아닌 오류는 try except문으로 빠져나가지 못함

## 실습 문제 8

8. 사용자로부터 다섯 개의 정수를 입력받아 data.txt에 저장하고, data.txt를 읽어서 정수들의 합과 평균을 출력하는 프로그램을 작성하시오.

In [81]:
f = open('data.txt', 'w')
for i in range(1,6):
  n = input('%d번 정수를 입력하세요: '% i)
  f.write(n + '\n')
f.close()

f = open('data.txt' , 'r')
sum = 0
for i in range(5):
  n = int(f.readline())
  sum += n

print('숫자 5개의 평균: ',sum/5)

1번 정수를 입력하세요: 1
2번 정수를 입력하세요: 2
3번 정수를 입력하세요: 3
4번 정수를 입력하세요: 4
5번 정수를 입력하세요: 5
숫자 5개의 평균:  3.0